---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import GallerySection from "../components/GallerySection";
---

<Layout
    title="Photo Gallery | Superior Taekwondo"
    description="View photos of our training, grading, and competitions. See our students in action."
>
    <main>
        <GallerySection client:load />
    </main>
    <Footer />
</Layout>
