---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Intro from "../components/Intro.astro";
import Olympian from "../components/Olympian.astro";
import WallOfFame from "../components/WallOfFame.astro";
import Reviews from "../components/Reviews.astro";
import ReadyToTrain from "../components/ReadyToTrain.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<main class="overflow-x-hidden">
		<Hero />
		<Intro />
		<Olympian />
		<WallOfFame />
		<Reviews />
		<ReadyToTrain />
		<Footer />
	</main>
</Layout>
