---
import Navbar from "../components/Navbar.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Superior Taekwondo | Constructing Champions</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Open+Sans:wght@400;600&family=Oswald:wght@400;500;700&family=Roboto:wght@400;500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="bg-black text-white antialiased">
		<Navbar />
		<slot />
		<script>
			import "../styles/global.css";
		</script>
	</body>
</html>
